@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(/Yanki/fonts/Raleway-VariableFont_wght.ttf);
}

html{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.header{
    margin: 33px 0 0 150px;
    display: flex;
    align-items: center;
    width: auto;   
  }

  li {
      list-style: none;
  }
  
.header *{
    z-index: 2;
    color: white;
    height: 40px;
    align-items: center;
    padding: 0;
    display: flex;    
    justify-content: space-between;
    padding: none;
    
    }
/* .menu{
    
} */
.menuMainPage{
    margin-left: 76px;
    width: 240px;   
}
.menuMainPage *{
    margin-left: 20px;
    width: 80px;
}

.logo{
    margin-left: 120px;
}
.lang{
    margin-left: 93px;
    width: 130px; 
}
.options{
    margin-right: 9px; 
}

.icons{
    margin-left: 75px;
    width: 250px;
}

.icons *{
margin-left: 30px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -500px;
    color: white;
    margin-left: 570px;
    position: absolute;
    align-content: baseline;
    
}

.main *{
    align-items: center;
    height: auto;
    font-weight: 300;
}
.main > h3 > .options{
    align-self: baseline;
    align-content: baseline;   
    margin-bottom: -5px;
}

.firstPage{
    display: flex;
    width:fit-content;
    height: 900px;
    margin-top: -105px;
    z-index: -3;
    margin-left: -8px;
    }

.firstPage.image{
    width: auto;
    height: 900px;
    z-index: -3;
}

.secondPage{
    height: 1000px;
    margin-left: 0;
}

.containerCategory{
    display: block;
    margin-top: 192px;
    width: 1180px;
    margin-left: 150px;
}

.chooseCategory{
    display: flex;
    justify-content: space-between;
}

.image{
    position: relative;
    margin-bottom: -43px;
}

.chooseCategory_btn{
    width: 274px;
    height: 40px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    background: rgba(224, 190, 162, 0.75);
    opacity: 0.75;
    border: none;
    padding: 5px;
    backdrop-filter: blur(6px);
}

.emailSignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
    margin-top: 100px;
}

.emailSignUp *{
    text-align: center;
}

.userEmail{
    width: 594px;
    height: 46px;
    border: 0.5px solid #252525;
    margin-top: 20px;
}

.emailSignUp_btn{
    width: 600px;
    height: 50px;
    background: #E0BEA2;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: 150px;
   
}
.margin{
    margin-bottom: 50px;
}
.socialMediaLinks{
    display: flex;
    width: 46px;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: black;
}

.rights{
    display: inline-block;
    position:absolute;
    align-self:flex-end;
    margin-left: 500px;
}

.button{
    transition: box-shadow .3s;
}

.button:hover{
box-shadow: 0 0 11px rgba(33,33,33,.2);
cursor: pointer;
}

.button:active{
    background-color: #CCA88A;
}
